<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.project.book.model.mapper.BookMapper">
    <select id="getAll" resultType="com.springboot.project.book.data.BookData">
        SELECT bk.id 'uuid',
               bk.book,
               bk.author,
               bk.price,
               bk.count,
               bk.content
        FROM BOOK bk
        WHERE 1=1
        <if test="bean.book != null and bean.book != ''">
            AND bk.book = #{bean.book}
        </if>
        <if test="bean.author != null and bean.author != ''">
            AND bk.author = #{bean.author}
        </if>
        <if test="bean.price != null and bean.price != ''">
            AND bk.price &gt;= #{bean.price}
        </if>
        <if test="bean.count != null and bean.count != ''">
            AND bk.count &gt;= #{bean.count}
        </if>
        <if test="bean.language != null and bean.language != ''">
            AND bk.language = #{bean.language}
        </if>
        <if test="bean.content != null and bean.content != ''">
            AND bk.content like CONCAT('%', #{bean.content}, '%')
        </if>
    </select>
</mapper>