@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

.nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav a:hover {
    color: #4CAF50;
    cursor: pointer;
}

.table-container {
    width: 80%;
    overflow-x: auto;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:first-child {
    font-weight: bold;
}

.icon-column {
    width: 60px;
}

.icon-checkbox-cell {
    padding: 0;
}

.no-column {
    width: 30px;
}

.price-column {
    text-align: right;
    width: 35px;
}
.count-column {
    text-align: right;
    width: 35px;
}
.totalPrice-column {
    text-align: right;
    width: 40px;
}

td:nth-child(1) {
    text-align: center;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(5) {
    text-align: right;
}

td:nth-child(6) {
    text-align: right;
}

td:nth-child(7) {
    text-align: right;
}

.button-container .button {
    margin-right: 5px;
}

.button {
    display: inline-block;
    background-color: #457745;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.button-hidden {
    display: none;
}

.pagination-container {
    text-align: center;
    margin-bottom: 10px;
}


#popupContainer, #popupPersonalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 設定背景半透明 */
    display: none;
    z-index: 9999; /* 設定比其他元素的 z-index 值更高，確保覆蓋在頁面上 */
}

#popupContent, #popupPersonalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#closeButton, #closePersonalButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

#closeButton i , #closePersonalButton i{
    display: inline-block;
    font-size: inherit;
}

.icon-button {
    margin-left: 10px;
    margin-right: 10px;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button-edit {
    margin-right: 10px;
}

.icon-button-edit:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-container .form-group:nth-child(1) {
    grid-column: span 2;
}

.grid-container .form-group:nth-child(3) {
    grid-column: span 1;
}

.grid-container .form-group:nth-child(6) {
    grid-column: span 3;
}

.search-box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    width: 200px;
}

.search-box input[type="text"]::placeholder {
    color: #999;
}

.search-box button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #45a049;
}


#trashButton ,#shoppingCartButton{
    margin-left: 10px;
    background-color: #fff;
    color: #4CAF50;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#trashButton:hover ,#shoppingCartButton:hover{
    color: #45a049;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.result-message {
    text-align: center;
    margin-bottom: 20px;
}

.result-message.success {
    color: #00cc00;
}

.result-message.error {
    color: #ff0000;
}

.readonly-input {
    background-color: #f2f2f2;
    color: #666666;
    border: 1px solid #dddddd;
    padding: 8px;
    border-radius: 4px;
}

.readonly-input:focus {
    outline: none;
}

#sendButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sendButton:hover {
    background-color: #45a049;
}


/*websocket*/

.notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.notification-message {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: slideIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}